* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(.8);
  }
}
h1 {
  margin: 20px;
  font-size: 40px;
  animation: pulse 5s linear infinite;
}
button {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}
button:hover {
  background: #ccc;
}
button:active {
  background: #aaa;
}
.ball {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 50px;
  background: url(/public/img/ball.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#answer {
  color: yellow;
}
